{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}

            {% endblock title%}
        </title>
        <!--CSS and CDNs here-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="{% static 'css/stylemenubar.css'%}">
        <!--CSS and CDN close-->
    </head>
    <body>
   {%include 'indexmenubar.html' %}
    <div class="">
         {% block head %}

         {% endblock head %}
      </div>
      <div class="main">
            {% block main %}

            {% endblock main %}
      </div>

        <!--JS here-->
        <script src=""></script>

        <!--JS close-->
    </body>
</html>