{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}

            {% endblock title%}
        </title>
        <!--CSS and CDNs here-->
        <link rel="stylesheet" href="">
        <!--CSS and CDN close-->
    </head>
    <body id="body-pd">


      <div class="">
         {% block head %}

         {% endblock head %}
      </div>
      <div class="">
            {% block main %}

            {% endblock main %}
      </div>

        <!--JS here-->
        <script src=""></script>

        <!--JS close-->
    </body>
</html>