{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock title%}
{% block head %}

{% endblock head %}
{% block main %}

 <div class="card">
  <div class="card-body">
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Institute of Engineering and Technology is located in the University Campus.
                It is 400 metres away from N.H.17 in the Kohinoor-Kondotty road. 
                Distance from Calicut city is 24 km. 
                The nearest railway station is Parappanangadi which is 12km away from the Campus.
                The Feroke railway station is located at a distance of 13 km from here. 
                Both the stations are in the Shoranur-Mangalore route. 
                Express trains stop at both stations. Kozhikode Airport is only 8 km away from the Institute. 
                Being located on the National Highway, Campus is well connected by bus.
                <p>Life in IET is one of the most valuable experiences that one goes through. 
                    In fact, it is the turning point in a person’s life. While the first day in is, with no doubt, the most eagerly anticipated, the rest of the days are equally enjoyable.
                    IET life is full of all sorts of activities.
                     You will get an exposure to a range of fields such as drama, theatre, music, choreography and photography.</p>
            </p>
            <h1><b> Contact Us</b></h1>
            <p>Phone:</p><a href="tel:123-456-7890">123-456-7890</a>
            <b></b>
           
            <p>Emailid:</p> <a href="mailto:cuiet@gmail.com">cuiet@gmail.com</a>
            
            
           </div>
    </div>
  </div>
 </div>

{% endblock main %}