{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}

            {% endblock title%}
        </title>
        <!--CSS and CDNs here-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!--CSS and CDN close-->
    </head>
    <body id="body-pd">

    {% include 'menu.html'%}
      <div class="main-top">
         {% block head %}

         {% endblock head %}
      </div>
      <div class="main-contend">
            {% block main %}

            {% endblock main %}
      </div>

        <!--JS here-->
        <script src="{% static 'js/main.js' %}"></script>

        <!--JS close-->
    </body>
</html>