{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock title%}
{% block head %}
<h1>this is enets of public </h1>
{% endblock head %}
{% block main %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EVENT 1</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-outline-primary">Register</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EVENT 2</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-outline-primary">Register</button> 
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EVENT 3</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.his content is a little bit longer. </p>
          <button type="button" class="btn btn-outline-primary">Register</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EVENT 4</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-outline-primary">Register</button>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}