{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock title%}
{% block head %}

{% endblock head %}
{% block main %}

 <div class="event">
        <div class="title"><h2>
            {{ object.title }}</h2>
        </div>
        <div class="banner">
         <img src="{{ event.banner.url }}">
        </div>
        <div class="description">
           {{ object.description }}
        </div>
        <div class="max-participants">
            {{ object.max_participants }}
        </div>
        <div class="max-date">
            {{ object.date }}
        </div>
        <div class="max-time">
            {{ object.time }}
        </div>
        <div class="max-venue">
            {{ object.venue }}
        </div>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>


{% endblock main %}