{% extends 'base.html' %}

{% load static %}
{% block title %}

{% endblock title%}
{% block head %}

{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
       {{ message }}
  </div>
{% endfor %}
{% endif %}

{% endblock head %}
{% block main %}

{% for event in events %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="{{ event.banner.url }}" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title"> <h2><a href="{% url 'event_detiled_view' event.id %}">{{ event.title }} </a></h5>
          <p class="card-text"> {{ event.description }} </p> <br>
            <h5>Date</h5>{{ event.date }}  <br>
              <h5>Time</h5>{{ event.time }}  <br>
              <h5>Venue</h5>{{ event.venue }}  <br>
          <a href="{% url 'event_register' event.id %}" class="btn btn-outline-primary">Register</a>
        </div>
      </div>
        <br>
    </div>
</div>
{% endfor %}
{% endblock main %}