{% extends 'base.html' %}

{% load static %}
{% block title %}

{% endblock title%}
{% block head %}

{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
       {{ message }}
  </div>
{% endfor %}
{% endif %}

{% endblock head %}
{% block main %}
{% for event in events %}
<div class="card">
    <div class="card-body">
        <div class="title"><h2><a href="{% url 'event_detiled_view' event.id %}">
            {{ event.title }}</a></h2>
        </div>
        <div class="banner">
         <img src="{{ event.banner.url }}">
        </div>
        <div class="description"><p>
           {{ event.description }}</p>
        </div>
        <div class="max-participants">
            {{ event.max_participants }}
        </div>
        <div class="max-date">
            {{ event.date }}
        </div>
        <div class="max-time">
            {{ event.time }}
        </div>
        <div class="max-venue">
            {{ event.venue }}
        </div>
    </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EVENT 1</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-outline-primary">Register</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EVENT 2</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-outline-primary">Register</button> 
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EVENT 3</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-outline-primary">Register</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">EVENT 4</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-outline-primary">Register</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock main %}