{% load static %}
<!DOCTYPE html>
<html lang="en" dir="1tr">
    <head>
        <meta charset="utf-8">
        <title>Animated Login Form</title>
        <link rel="stylesheet" href="log.css">
    </head>
    <body>
        <div class="center">
            <h1>Register Here</h1>
            <form method="post">
                {% csrf_token %}
                <div class="txt_field">
                    {{ form.username }}
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    {{ form.first_name }}
                    <label>Name</label>
                </div>
                <div class="txt_field">
                    {{ form.email }}
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    {{ form.admissionNumber }}
                    <label>Admission Number</label>
                </div>
                <div class="txt_field">
                    {{ form.password1 }}
                    <label>Password</label>
                </div>
                <div class="txt_field">
                    {{ form.password2 }}
                    <label>Password Confirmation</label>
                </div>

                <input type="submit" value="Login">
                <div class="signup_link">
                    Already have a account? <a href="{% url 'login' %}">Login</a>
                </div>
            </form>
        </div>
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
    </body>
</html>
